@media screen and (max-width: 1000px) {
    p {
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .grid-3 {
        gap: 1rem;
    }

    .skills-right ul li {
        font-size: 0.9rem;
    }

    .grid-5-photography {
        grid-template-columns: repeat(3, 1fr); /* 3 kolom untuk tablet */
    }
}

@media screen and (max-width: 825px) {
    /* Burger */
    .burger {
        display: block;
        cursor: pointer;
        top: 30px;
        right: 15px;
    }

    .toggle-burger .line-1 {
        transform: rotate(-45deg) translate(-5px, 7px);
    }

    .toggle-burger .line-2 {
        opacity: 0;
    }

    .toggle-burger .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    /* Navigation */
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background: var(--primaryBackgroundColor);
        border-left: 1px solid var(--borderColor);
        z-index: 9;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }

    /* Navbar aktif */
    .nav-active {
        transform: translateX(0); /* Memastikan menu terlihat saat nav-active ditambahkan */
    }

    nav ul {
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    :root {
        --sectionPadding: 4rem 0;
    }

    .section-title {
        font-size: 1.6rem;
        margin: .6rem 0 2.5rem;
    }

    .pre-title {
        font-size: .8rem;
    }

    /* Hero Section */
    #hero {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-right {
        order: -1;
        display: flex;
        justify-content: center; /* To center the image */
    }

    .hero-right img {
        width: 200px;
        height: 200px; /* Set a height so that it remains circular */
        border-radius: 50%; /* This makes the image circular */
        object-fit: cover; /* Ensures the image fits properly within the circle */
        margin-bottom: 2rem;
    }

    .hero-left {
        text-align: center;
        padding-bottom: 5rem;
    }

    .hero-left .pre-title {
        margin: 0 auto;
    }

    .hero-name {
        font-size: 2.3rem;
        margin: .5rem;
    }

    /* Skill Section */
    .skills-grid {
        gap: 1rem;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    /* Footer Section */
    footer {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 640px) {
    /* Titles */
    .section-title {
        font-size: 1.3rem;
    }

    .pre-title {
        font-size: 0.7rem;
    }

    .contact-item-icon {
        min-width: 50px; /* Set a minimum width */
        padding: 8px; /* Adjust padding if needed */
        border-width: 2px; /* Maintain border width */
    }

    .grid-5-photography {
        grid-template-columns: repeat(2, 1fr); /* 2 kolom untuk HP */
    }
    .grid-3 {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        scroll-behavior: smooth;
        white-space: nowrap;
        padding-bottom: 10px;
    }

    .grid-3::-webkit-scrollbar {
        height: 8px;
    }

    .grid-3::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .grid-3::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
}

/* Dot navigation hanya muncul di layar kecil */
@media (max-width: 639px) {
    .grid-3 {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        white-space: nowrap;
        padding-bottom: 10px;
    }

    .portofolio {
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    .dot-navigation {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .dot {
        width: 7px;
        height: 7px;
        background-color: gray;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .dot.active {
        background-color: black;
    }
    .dark-theme .dot.active {
        filter: invert(1); /* Mengubah warna ikon menjadi putih */
    }
    
};
