@import "tailwindcss";

@source ".";

@theme {
  /* Variabel Tema */
  --font-roboto: "Roboto", sans-serif;

  --color-brand: #7e74f1;
  --color-brand-hover: #5d51e8;
  
  --color-primary-text: #232e35;
  --color-secondary-text: #656d72;
  
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #fbfbfb;
  --color-bg-third: #f5f3fe;

  /* Dark Mode */
  --color-dark-bg: #121212;
  --color-dark-bg-sec: #1e1e1e;
  --color-dark-text: #e0e0e0;
}

/* --- PAKSA CONTAINER AGAR SEPERTI GAMBAR 1 --- */
@layer components {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 640px) { .container { padding-left: 2rem; padding-right: 2rem; } }
  @media (min-width: 1024px) { .container { padding-left: 4rem; padding-right: 4rem; } }
  @media (min-width: 1280px) { .container { padding-left: 5rem; padding-right: 5rem; } }
  @media (min-width: 1536px) { .container { padding-left: 6rem; padding-right: 6rem; } }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@custom-variant dark (&:where(.dark, .dark *));